@value breakpointDesktop from '../../../assets/css/structure.css';

.Container {
    padding: 1em 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: breakpointDesktop) {
    .Container {
        width: 900px;
        margin: 0 auto;
    }
}