@value primary from '../../../assets/css/colours.css';
@value navHeight from '../../../assets/css/structure.css';

.Nav {
    background-color: primary;
    height: navHeight;
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.NavTitle {
    color: white;
    font-size: 2.5em;
    font-family: 'Bebas Neue', 'Open Sans';
}

.NavLogo {
    height: 3em;
    
}

.LogoLink {
    border-bottom: 0;
}

