@value primary from '../../../assets/css/colours.css';
@value navHeight, navHeightMobile, breakpointTablet, breakpointDesktop from '../../../assets/css/structure.css';

.Nav {
    background-color: primary;
    height: navHeight;
    padding: 0 1em;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: display 1s ease-in-out;
}



.NavTitle {
    color: white;
    font-size: 2.5em;
    font-family: 'Bebas Neue', 'Open Sans';
}

.NavLogo {
    height: 3em;  
}

.LogoLink {
    border-bottom: 0;
    display: none;
}

.NavItems {
    display: none;
}
/* 
@media (min-width: breakpointTablet) {
    .Nav {
        height: navHeight;
    }
} */

@media (min-width: breakpointDesktop) {
    .NavItems {
        display: initial;
    }

    .LogoLink {
        display: initial;
    }
}