@value primary, secondary from '../../../assets/css/colours.css';

.Button {
    padding: 1em 2em;
    border-radius: 1em;
    border: 0px;
    font-size: 1em;
    font-family: 'Open Sans', Arial;
    font-weight: normal; 
    background-color: secondary;
    color: primary;
    text-decoration: none;
    transition: padding 150ms ease-in-out, margin 150ms ease-in-out;
    cursor: pointer;
}

.Button:focus {
    outline: 0;
}

.Button:visited,
.Button:link {
    text-decoration: none;
    color: primary;
}

.Button:active,
.Button:hover {
    padding: 1.2em 2.2em;
    margin: -0.2em;
}