@value secondary from '../../assets/css/colours.css';
@value navHeight, navHeightMobile, breakpointTablet from '../../assets/css/structure.css';

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Bebas Neue'), local('BebasNeue'),
       url('../../assets/fonts/BebasNeue-Regular.ttf') format('truetype')
}

body {
  margin-top: navHeight;
}
/* 
@media (min-width: breakpointTablet) {
  body {
    margin-top: navHeight;
  }
} */

::selection {
  background: secondary;
}

::-moz-selection {
  background: secondary;
}

a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid secondary;
  transition: 150ms ease-in-out;
}

a:visited,
a:link {
  color: black;
  border-bottom-style: solid;
}
